<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= I18n.t('activerecord.models.receipt.new') %><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><%= link_to(I18n.t('menu.receipt.mark.new'), '/mark_receipts/new') %></li>
    <li><a href="#"><%= t('menu.receipt.mark.correction') %></a></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to(I18n.t('menu.receipt.search.identical'), '/identical_search_receipts/new') %></li>
    <li><%= link_to(I18n.t('menu.receipt.search.similitude'), '/similar_search_receipts/new') %></li>
    <li role="separator" class="divider"></li>
    <li><a href="#"><%= t('menu.receipt.design.new') %></a></li>
  </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= I18n.t('activerecord.models.receipt.other') %><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><%= link_to(I18n.t('menu.receipt.mark.new'), '/mark_receipts/') %></li>
    <li><a href="#"><%= t('menu.receipt.mark.correction') %></a></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to(I18n.t('menu.receipt.search.identical'), '/identical_search_receipts/') %></li>
    <li><%= link_to(I18n.t('menu.receipt.search.similitude'), '/similar_search_receipts/') %></li>
    <li role="separator" class="divider"></li>
    <li><a href="#"><%= t('menu.receipt.design.new') %></a></li>
  </ul>
</li>
