<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= I18n.t('activerecord.models.receipt.new') %><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><%= link_to(I18n.t('menu.receipt.mark.new'), new_receipt_path({ :type => "MarkReceipt", :branch => "M" })) %></li>
    <li><%= link_to(I18n.t('menu.receipt.mark.rectification'), new_receipt_path({ :type => "RectificationMarkReceipt", :branch => "M" })) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to(I18n.t('menu.receipt.search.identical'), new_receipt_path({ :type => "IdenticalSearchReceipt", :branch => "M" })) %></li>
    <li><%= link_to(I18n.t('menu.receipt.search.similitude'), new_receipt_path({ :type => "SimilarSearchReceipt", :branch => "M" })) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to(I18n.t('menu.receipt.design.new'), new_receipt_path({ :type => "DesignReceipt", :branch => "M" })) %></li>
  </ul>
</li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= I18n.t('activerecord.models.receipt.other') %><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><%= link_to I18n.t('menu.receipt.all'), receipts_path({ :type => "Receipt" }) %></li>
  </ul>
</li>
