<div class="row">
<div class="col col-md-9" id="results">
  <%= render(:partial => 'orders/list', :locals => { :orders => @orders }) %>
</div>

<div class="col-md-3">
<div class="panel panel-default">
  <div class="panel-heading">
  <h4><%= I18n.t('menu.filter.head') %></h4>
  </div>
  <div class="panel-body">
  <%= form_for_filterrific @filterrific do |f| %>
    <div class="form-group chardin_box" data-intro="Search by first name, last name, or email." data-position="left">
      <label><%= I18n.t('datetime.prompts.month')%></label>
      <%= f.select(:by_month, @filterrific.select_options[:by_month], { :include_blank => '- ' + I18n.t('menu.filter.all') + ' -' }, { :class => 'form-control' }) %>
      <div class="form-group chardin_box" data-intro="Filter by country." data-position="left">
        <label><%= I18n.t('datetime.prompts.year')%> </label>
        <%= f.text_field :by_year, :class => 'filterrific-periodically-observed form-control' %>
      </div>
      <div class="form-group chardin_box" data-intro="Filter by registration date." data-position="left">
        <label><%= I18n.t('activerecord.models.group.one') %></label>
        <%= f.select(:with_group_id, @filterrific.select_options[:with_group_id], { :include_blank => '- ' + I18n.t('menu.filter.all') + ' -' }, { :class => 'form-control' }) %>
      </div>
      <div class="form-group chardin_box" data-intro="Change the sorting." data-position="left">
        <label><%= I18n.t('menu.filter.type') %></label>
        <%= f.select(:with_type, @filterrific.select_options[:with_type], { :include_blank => '- ' + I18n.t('menu.filter.all') + ' -' }, { :class => 'form-control' }) %>
      </div>
    </div>
    <div class="chardin_box" data-intro="Reset the filter settings to defaults." data-position="bottom">
      <%= link_to "Reset", orders_url + "?filterrific%5Breset_filterrific%5D=true", :class => 'btn btn-default btn-sm pull-right' %>
    </div>
  <% end %>
  </div>
  </div>
</div>
</div>

