<%= simple_form_for(@receipt, wrapper: :inline_form) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col col-md-6"> <%= f.input :owner_name %> </div>
      <div class="col col-md-6"> <%= f.association :representative, label_method: :fullname, prompt: t('simple_form.prompts.receipt.representative') %> </div>
    </div>
    <div class="row">
      <div class="col col-md-8"> <%= f.input :owner_street %> </div>
      <div class="col col-md-4"> <%= f.input :owner_wilaya %> </div>
    </div>
    <%= render :partial => "form_cases", :locals=>{:f=>f} %>
    <%= f.input :image, as: :hidden, input_html: {value: @receipt.cached_image_data} %>
    <%= f.input :image, as: :file %>
    <%= f.select :order_ids, {}, { prompt: "Selectionner un ordre de paiement"}, {multiple: true, class: "receipt_orders"} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'pull-right' %>
  </div>

<% end %>
<%= render :partial => "orders/order_modal" %>
