<%= simple_form_for(@receipt, wrapper: :inline_form, :html => {:id => "receipt"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col col-md-6"> <%= f.input :owner_name %> </div>
      <div class="col col-md-6"> <%= f.association :representative, label_method: :fullname, prompt: t('simple_form.prompts.receipt.representative') %> </div>
    </div>
    <div class="row">
      <div class="col col-md-8"> <%= f.input :owner_street %> </div>
      <div class="col col-md-4"> <%= f.input :owner_wilaya %> </div>
    </div>
    <%= render :partial => "form_cases", :locals=>{:f=>f} %>
    <%= f.input :image, as: :hidden, input_html: {value: @receipt.cached_image_data} %>
    <%= f.input :image, as: :file %>
    <% if receipt_new == "new" then %>
    <%= f.input_field :order_ids, as: :select, collection: Order.where('remain > 0').last(1), :multiple => true, :id => "receipt_orders", :prompt => I18n.t('simple_form.prompts.receipt.orders') %>
    <% end %>
  </div>
</div>
<div class="panel-footer">
  <div class="row">
  <div class="col col-md-6" id="total-tax">
    <% if receipt_new == "new" then %>
     Total: <div id="total-value"><%= number_to_currency(@receipt.tax_calculate) %></div>
    <% end %>
  </div>
  <div class="col col-md-6">
  <div class="form-actions">
    <%= f.button :submit, :class => 'pull-right' %>
  </div>
  </div>
  </div>
</div>

<% end %>
<%= render :partial => "orders/order_modal" %>
