<% if params[:type]=="MarkReceipt" %>
  <div class='row'>
    <%= f.input :type, as: :hidden, input_html: {id:"receipt_type", value: "MarkReceipt"} %>
    <div class="col col-md-6"> <%= f.input :mark_name %> </div>
    <div class="col col-md-6"> <%= f.input :mark_type, include_blank: false %> </div>
  </div>
  <div class="row receipt_tax_value_inputs">
    <div class="col col-md-3"> <%= f.input :classes, hint: true %> </div>
    <div class="col col-md-3"> <%= f.input :ipas_num %> </div>
    <div class="col col-md-3"> <%= f.input :colored %> </div>
    <div class="col col-md-3"> <%= f.input :rev_pri %> </div>
  </div>
<% elsif params[:type]=="IdenticalSearchReceipt" %>
<%= f.input :type, as: :hidden, input_html: {id:"receipt_type", value: "IdenticalSearchReceipt"} %>
  <div class="row receipt_tax_value_inputs">
    <div class="col col-md-6"> <%= f.input :number_searches %> </div>
    <div class="col col-md-6"> <%= f.input :number_additional_classes %> </div>
  </div>
<% elsif params[:type]=="SimilarSearchReceipt" %>
  <div class="row receipt_tax_value_inputs">
  <%= f.input :type, as: :hidden, input_html: {id:"receipt_type", value: "SimilarSearchReceipt"} %>
    <div class="col col-md-6"> <%= f.input :number_searches %> </div>
    <div class="col col-md-6"> <%= f.input :number_searches_with_more_than_three_classes %>
    </div>
  </div>
<% elsif params[:type]=="RectificationMarkReceipt" %>
  <div class="row receipt_tax_value_inputs">
  <%= f.input :type, as: :hidden, input_html: {id:"receipt_type", value: "RectificationMarkReceipt"} %>
    <div class="col col-md-12"> <%= f.input :number_marks, input_html:{value: 1} %> </div>
  </div>
<% end %>
